body {
  width: 100%;
}

body.restaurant {
  /* Layout for restaurant.html */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* Map sizing; changes above small items */
.container__map .map {
  height: 400px;
  width: 100%;
}

.container__filter {
  /* Grow/shrink filters with device */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container__filter > select {
  /* Don't span to fit the container */
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
}

.container__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container__content .container__breadcrumb {
  /* Keep breadcrumb on top */
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.container__content .container__map {
  /* Put map before info in small layout */
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container__content .container__info {
  /* Info panel after map in small layout */
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.container__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
}

.container__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container__reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container__reviews li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container__reviews li div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media (min-width: 40rem) {
  .container__list > li {
    /* Two restaurants per row */
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
}

@media (min-width: 50rem) {
  .container__list > li {
    /* Three restaurants per row */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }
}

@media (min-width: 60rem) {
  body.restaurant {
    /* Fit window height to prevent map from being too tall */
    max-height: 100vh;
  }
  .container__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container__list > li {
    /* Five restaurants per row */
    /* Don't stretch wider than max image width */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15%;
            flex: 1 1 15%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .container__content {
    /* Switch info panel/map to be side-by-side */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .container__content .container__info {
    /* Info panel will scroll */
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container__content .container__info section {
    /* Prevent info panel items from overlapping */
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .container__content .container__map {
    /* Reorder map in layout */
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .map.restaurants {
    /* Map will fit parent height now that layout has changed */
    height: 100%;
  }
}

@media (min-width: 140rem) {
  .container__list > li {
    /* Strict five restaurants per row */
    /* Don't stretch wider than max image width */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 18%;
            flex: 1 1 18%;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container__header {
  height: 5rem;
}

.container__breadcrumb {
  padding: 1em 0 1em 1em;
}

.container__breadcrumb li + li:before {
  padding: 0.6rem;
}

.container__filter select {
  height: 1.6rem;
  margin: 0.6rem 0 0.6rem 0.6rem;
  padding: 0.06rem 0.4rem;
}

.container__info {
  padding: 0 2rem;
}

.container__list {
  padding: 0.6rem;
  margin: auto;
}

.container__list li {
  margin: 0.6rem;
  padding: 0.6rem;
}

.container__list li h3 {
  margin: 1rem 0 0.6rem;
}

.container__list li p:first-of-type {
  margin-top: auto;
}

.container__list li p:last-of-type {
  margin-bottom: 1rem;
}

.container__list li a {
  padding: 0.6rem 1.8rem;
}

.container__restaurant .name {
  padding: 1.2rem 0;
}

.container__restaurant .cuisine {
  padding: 0.4rem 0;
}

.container__restaurant tr > td:last-of-type {
  padding: 0 0 0.2rem 1rem;
}

.container__restaurant .address {
  padding: 0.8rem 0;
}

.container__reviews h3 {
  padding: 2rem 0 1.2rem;
}

.container__reviews li {
  margin-bottom: 2rem;
}

.container__reviews li > * {
  padding: 1rem;
}

.container__reviews li h4 {
  display: inline;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.container__reviews li .review__comments {
  margin-top: 0.8rem;
}

.container__footer {
  height: 4rem;
}

.container__footer > span {
  margin: 0 0.2rem;
}

a {
  color: #f18200;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a img {
  border: none 0rem #ffffff;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul,
li {
  color: #333333;
}

.body {
  background-color: #fdfdfd;
}

.container__header {
  background-color: #252831;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__header a {
  color: #ffffff;
}

.container__header a:hover {
  color: #f58500;
}

.container__breadcrumb {
  background-color: #dddddd;
}

.container__breadcrumb li {
  display: inline;
}

.container__breadcrumb li + li:before {
  color: #000000;
  content: "/ ";
}

.container__breadcrumb li a {
  color: #0275d8;
}

.container__breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
}

.container__filter {
  background-color: #3397db;
}

.container__filter h2 {
  color: #ffffff;
}

.container__filter select {
  background-color: #ffffff;
  border: 0.0625rem solid #ffffff;
  border-radius: .125rem;
}

.container__list {
  background-color: #f3f3f3;
}

.container__list li {
  background-color: #ffffff;
  border-radius: 0.3rem;
  text-align: left;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container__list li h3 {
  color: #f18200;
  font-weight: 300;
  text-transform: uppercase;
}

.container__list li a {
  background-color: #ffa500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.container__list li a:hover {
  background-color: #f18200;
}

.container__list li:hover {
  -webkit-box-shadow: 0 0.2rem 0.8rem 0.06rem #aaaaaa;
          box-shadow: 0 0.2rem 0.8rem 0.06rem #aaaaaa;
  -webkit-transform: translate(0, -0.0625rem);
          transform: translate(0, -0.0625rem);
}

.container__info {
  background-color: #f3f3f3;
}

.container__info::-webkit-scrollbar {
  width: 0.2rem;
}

.container__info::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background: rgba(0, 0, 0, 0.2);
}

.container__restaurant .name {
  color: #f18200;
}

.container__restaurant .restaurant-img {
  border-radius: 1.2rem 0 0;
}

.container__restaurant .cuisine {
  background-color: #333333;
  border-radius: 0 0 1.2rem;
  color: #fdfdfd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.container__restaurant .address {
  font-size: 12pt;
}

.container__restaurant .hours td {
  color: #666666;
}

.container__reviews li {
  background-color: #fdfdfd;
  border-radius: 1.2rem 0 1.2rem 0;
  -webkit-box-shadow: 0 0.2rem 0.8rem 0.06rem #dddddd;
          box-shadow: 0 0.2rem 0.8rem 0.06rem #dddddd;
}

.container__reviews li div:first-of-type {
  background-color: #333333;
  border-radius: 1.2rem 0 0;
  color: #fdfdfd;
}

.container__reviews li div:first-of-type .review__name {
  font-size: 12pt;
}

.container__reviews li div:first-of-type .review__date {
  color: #dddddd;
}

.container__reviews li h4 {
  background-color: #f58500;
  color: #fdfdfd;
  font-weight: 500;
}

.container__footer {
  background-color: #252831;
  color: #dddddd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

body {
  font: 10pt/1.4 Roboto, sans-serif;
}

h1,
h2 {
  font-weight: 100;
  text-transform: uppercase;
}

h1 {
  font-size: 1rem;
  letter-spacing: 0.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.1rem;
  line-height: 1.2;
}

h3 {
  font-size: 1rem;
  font-weight: 100;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 1.4rem;
    letter-spacing: 0.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}

@media (min-width: 60rem) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */