// --------------------------------------------------------
// Spacing
//
// Size and spacing for all items
// --------------------------------------------------------
// [Header]
.container__header {
  height: 5rem;
}

// [Breadcrumb]
.container__breadcrumb {
  padding: 1em 0 1em 1em;

  li+li:before {
    padding: .6rem;
  }
}

// [Restaurant]
.container__restaurant {
  .cuisine {
    padding: .4rem 0 .4rem 0;
  }

  .address {
    padding: .8rem 0;
  }
}

// [Filter]
.container__filter {
  select {
    height: 1.6rem;
    margin: .6rem 0 .6rem .6rem;
    padding: .06rem .4rem;
  }
}

// [List]
.container__list {
  padding: 10px;

  li {
    margin: 10px;
    padding: 10px;

    h3 {
      margin: 15px 0 10px;
      // margin-bottom: auto;
    }

    p:first-of-type {
      margin-top: auto;
    }

    p:last-of-type {
      margin-bottom: 15px;
    }

    a {
      padding: 10px 30px;
    }
  }
}

// [Reviews]
.container__reviews {
  li {
    margin: 2em;

    div {
      padding: .8em 1.1em;
    }

    h4 {
      display: inline;
      padding: 4px;
      border-radius: 4px;
      // float: left;
      // margin-right: auto;
    }

    &>p {
      margin: 1em;
    }
  }
}