// --------------------------------------------------------
// Styles
// --------------------------------------------------------
// [Global]
// Global page styles
a {
  color: $color-orange-03;
  text-decoration: none;

  img {
    border: none 0px $color-mono-01;
  }

  &:hover,
  &:focus {
    color: $color-blue-01;
    text-decoration: none;
  }
}

ul, li {
  color: $color-mono-09;
}



// --------------------------------------------------------
// Containers
// --------------------------------------------------------
// [Main]
// Body background
.body {
  background-color: $color-mono-02;
}

// [Header]
// Header styles
.container__header {
  align-items: center;
  background-color: $color-blue-04;
  justify-content: center;

  a {
    color: $color-mono-01;
  }
}

// [Breadcrumb]
// Breadcrumb styles
.container__breadcrumb {
  background-color: $color-mono-04;

  li {
    display: inline;

    &+li:before {
      color: $color-mono-10;
      content: "/ ";
    }

    a {
      color: $color-blue-02;
    }

    a:hover {
      color: $color-blue-03;
      text-decoration: underline;
    }
  }
}

// [Restaurant]
.container__restaurant {
  .name {
    color: $color-orange-03;
  }

  .cuisine {
    background-color: $color-mono-09;
    color: $color-mono-02;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 0.8rem;
    text-align: center;
    text-transform: uppercase;
  }

  .address {
    font-size: 12pt;
  }

  .hours {
    td {
      color: $color-mono-07;
    }
  }
}

// [Filters]
.container__filter {
  background-color: $color-blue-01;
  align-items: center;

  h2 {
    color: $color-mono-01;
  }

  select {
    background-color: $color-mono-01;
    border: 1px solid $color-mono-01;
    border-radius: 2px;
  }
}

// [List]
.container__list {
  background-color: $color-mono-03;

  li {
    background-color: $color-mono-01;
    border-radius: .3rem;
    text-align: left;

    h3 {
      color: $color-orange-03;
      font-weight: 300;
      text-transform: uppercase;
    }

    a {
      background-color: $color-orange-01;
      color: $color-mono-01;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.container__info {
  background-color: $color-mono-03;
}

// [Reviews]
.container__reviews {
  li {
    background-color: $color-mono-02;
    // border: 2px solid $color-mono-03;
    border-radius: 1.2rem 0 1.2rem 0;
    box-shadow: .2rem .3rem .3rem $color-mono-04;

    div:first-of-type {
      background-color: $color-mono-09;
      border-radius: 1.2rem 0 0;
      color: $color-mono-02;

      .review__name {
        font-size: 12pt;
      }

      .review__date {
        color: $color-mono-05;
      }
    }

    h4 {
      background-color: $color-orange-02;
      color: $color-mono-02;
      font-weight: 500;
    }
  }
}