// --------------------------------------------------------
// Typography
// --------------------------------------------------------
// [Base]
// Base font settings
body {
  font: 10pt/1.4 Roboto, sans-serif;
}

// [Headings]
// Global h1-h2 styles
// Headings h3-h6 are not included because they are unused
h1,
h2 {
  font-weight: 100;
  text-transform: uppercase;
}

h1 {
  font-size: 1.2rem;
  letter-spacing: 0.8rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.1rem;
  // line-height: 1.2;
}

@media (min-width: 40rem) {
  h1 {
    font-size: 1.4rem;
  }
}
//
// TO BE COMPLETED
//













// --------------------------------------------------------
// Media
// Responsive typography based on media
// --------------------------------------------------------
// [Extra Small]
// Extra small devices (480px)

// [Small]
// Small devices (640px)
// @media (min-width: 40.0rem) {
//   h1 {
//     font-size: 2.6rem;
//     letter-spacing: 0.6rem;
//   }

//   h2 {
//     font-size: 2rem;
//     line-height: 1.4;
//   }

//   h3 {
//     font-size:
//   }
// }

// [Medium]
